.card{
    position: relative;
}

.card img{
    width: 100%;
    height: 110px;
    width:120%;
    display: block;
    border: 0px solid rgb(66, 64, 194);
    border-radius: 8px;
}


.card .front{
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}

.flipped .front{
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}


.card .back{
    transition: all ease-in 0.2s;
    transition-delay:0.2s ;
}

.flipped .back{
    transform: rotateY(90deg);
    transition-delay:0s ;
}